

name: 'Terraform'

on:
  push:
    branches:
    - master
  pull_request:

jobs:
  terraform:
    name: 'Terraform'
    runs-on: ubuntu-latest
    
    strategy:
      matrix:
        environments: [Dev, Tst, uat, Prd]

    # Use the Bash shell regardless whether the GitHub Actions runner is ubuntu-latest, macos-latest, or windows-latest
    defaults:
      run:
        shell: bash

    # Checkout the repository to the GitHub Actions runner
    steps:
    - name: Checkout
      uses: actions/checkout@v2

    # Install the latest version of Terraform CLI and configure the Terraform CLI configuration file with a Terraform Cloud user API token
    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v1
      with:
        cli_config_credentials_token: ${{ secrets.TOKEN }}

    # Initialize a new or existing Terraform working directory by creating initial files, loading any remote state, downloading modules, etc.
    - name: Terraform Init
      run: terraform init
      working-directory: Iac

    # Generates an execution plan for Terraform
    - name: Terraform Plan
      run: terraform plan
      working-directory: Iac
      env:
        TF_WORKSPACE: ${{ matrix.environments }}
        TF_VAR_client_secret : ${{ secrets.ARM_CLIENT_SECRET }}

      # On push to master, build or change infrastructure according to Terraform configuration files
      # Note: It is recommended to set up a required "strict" status check in your repository for "Terraform Cloud". See the documentation on "strict" required status checks for more information: https://help.github.com/en/github/administering-a-repository/types-of-required-status-checks
    - name: Terraform Apply
      if: github.ref == 'refs/heads/master' && github.event_name == 'push'
      working-directory: Iac
      run: terraform apply -auto-approve
      env:
        TF_WORKSPACE: ${{ matrix.environments }}
        TF_VAR_client_secret : ${{ secrets.ARM_CLIENT_SECRET }}
